[submodule "submodules/HDF5Storage"]
	path = submodules/HDF5Storage
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/HDF5Storage.git
[submodule "submodules/NewportXPS"]
	path = submodules/NewportXPS
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/NewportXPS.git
