[submodule "+Utils/+AndorControl"]
	path = +Utils/+AndorControl
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/AndorControl.git
[submodule "+Utils/+ScanControl"]
	path = +Utils/+ScanControl
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/ScanControl.git
[submodule "+Utils/+HDF5Storage"]
	path = +Utils/+HDF5Storage
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/HDF5Storage.git
